@import '~normalize.css';
@import './assets/icons.css';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #f4f4f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.d-flex {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-shadow {
  box-shadow: none;
}

.slide-down-enter,
.slide-down-exit-done {
  transform: translate3d(0, -100%, 0) !important;
}

.slide-down-enter-active {
  transform: translate3d(0, 0, 0) !important;
  transition: all 0.3s linear;
}

.slide-down-enter-done,
.slide-down-exit,
.slide-up-enter-done,
.slide-up-exit {
  transform: translate3d(0, 0, 0) !important;
}

.slide-down-exit-active {
  transform: translate3d(0, -100%, 0) !important;
  transition: all 0.3s linear;
}

.slide-up-enter,
.slide-up-exit-done {
  transform: translate3d(0, 100%, 0) !important;
}

.slide-up-enter-active {
  transition: all 0.3s linear;
  transform: translate3d(0, 0, 0) !important;
}

.slide-up-exit-active {
  transform: translate3d(0, 100%, 0) !important;
  transition: all 0.3s linear;
}
